.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

nav button{
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.green-btn {
    background: #469165;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bg-img {
    position: relative;
}

.bg-text {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-3 {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.btn-bg {
    background: none;
    color: white;
    border-color: white;
    border-radius: 5px;
}

.white-font {
    color: white;
}

.green-font {
    color: #30B868;
}

.white-btn {
    background-color: white;
    color: #30B868;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.hero-2 {
    font-size: 72px;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.gap-1 {
    gap: 20px;
}

.gap-2 {
    gap: 40px;
}

.card-img {
    width: 32px;
    background-color: #F95555;
    border-radius: 40px;
    padding: 20px;
}
.font-48 {
    font-size: 48px;
}

.font-24 {
    font-size: 24px;
}

.gray-font {
    color: #627382;
}

.margin {
    margin-top: 10px;
}
